.sectionAbout {
	background-color:#f4f4f4;
	padding: 100px 0;
	box-shadow: inset 0 5px 12px rgba(0,0,0,.1);
	background-image: url(../../images/bgRichard.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	@include respond-to('medium') {
		background-image: none;
		padding: 30px 10px;
	}
	.wrapper {
		@include respond-to('large') {
			padding: 0 10px;
		}
	}
	.about {
		display: flex;
		@include respond-to('small') {
			flex-direction: column;
		}
		.aboutPhoto {
			width: 40%;
			@include respond-to('small') {
				width: 100%;
				text-align: center;
			}
		}
		.aboutContent {
			width: 60%;
			@include respond-to('large') {
				width: 50%;
			}
			@include respond-to('medium') {
				width: 100%;
			}
			img {
				max-height: 400px;
				text-align: center;
				margin: 0 auto;
			}
			h1 {
				font-size: 6rem;
			}
			p {
				margin-bottom: 30px;
				color: #555;
				font-size: 1.7rem;
			}
			.fab {
				margin: 0 20px;
				font-size: 2.4rem;
				transition: .3s all;
				color: #888;
				&:hover {
					color: $primaryColor;
					cursor: pointer;
				}
			}
			.aboutCTA {
				display: flex;
				align-items: center;
				flex-direction: row;
				@include respond-to('medium') {
					flex-direction: column;
				}
				.aboutCtaIcons {
					@include respond-to('medium') {
						text-align: center;
					}
				}
				.aboutCtaGetInTouch {
					@include respond-to('medium') {
						text-align: center;
						margin-top: 20px;
					}
				}
			}
		}
	}
}
