.sectionContact {
	padding: 40px 0;
	.contactFlex {
		display: flex;
		.contactForm, .contactTestimonials {
			width: calc((100% / 2) - 20px);
		}
		.contactForm {
		}
		.contactTestimonials {
		}
	}
}