.sectionSkills {
	background-color: $quaternaryColor;
	background-image: url('../../images/bgPortfolio.jpg');
	background-size: cover;
	color: #fff;
	padding: 60px 0;
	h1 {
		text-align: center;
		margin: 0 auto 40px;
	}
	h2 {
		text-align: center;
		color: #fff;
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		@include respond-to('medium') {
			flex-direction: column;
		}
	}
	.technicalSkills {
		width: 66%;
		@include respond-to('medium') {
			width: 100%;
		}
		img {
			max-width: 30px;

			@include respond-to('small') {
				max-height: 31px;
			}
		}
		.textFirebase {
			font-size: 1.4rem;
			color: $primaryColor;
			margin: 10px auto;
			display: block;
			@include respond-to('small') {
				font-size: 1rem;
			}
		}
	}
	.designSkills {
		width: 33%;
		border-left: 1px solid #444;
		@include respond-to('medium') {
			width: 100%;
			border-left: none;
		}
		img {
			max-height: 38px;
		}
		span {
			font-size: 1.4rem; 
			display: block;
			margin: 10px auto;
			color: $tertiaryColor;
			@include respond-to('small') {
				font-size: 1rem;
			}
		}
	}
	.skills {
		display: flex;
		justify-content: space-around;
		@include respond-to('large') {
			flex-wrap: wrap;
		}

		div {
			width: 50%;
			text-align: center;
			margin: 19px 0;
		}
		.skillsIndiv {
			width: calc(100% / 6);
		}
		i {
			font-size: 4rem;
			transition: .3s all;
			margin: 20px 0;
			color: $primaryColor;
			text-align: center;
			// width: 25%;
			@include respond-to('small') {
				margin: 15px 0;
			}
			&:nth-child(2n){
				color: $tertiaryColor;
			} 
			span {
				font-size: 1.4rem;
				font-family: $primaryFont;
				text-align: center;
				margin: 10px auto;
				display: block;
				@include respond-to('small') {
					font-size: 1rem;
				}
			}
		}
		&:nth-child(2n){
			i {
				color: $tertiaryColor;
				&:nth-child(2n){
					color: $primaryColor;
				}
			}
		}
	}
}
.blah {
	fill:white;
	min-width: 30px;
	max-width: 30px;
}