.sectionSkills {
	background-color: $quaternaryColor;
	background-image: url('../../images/bgPortfolio.jpg');
	background-size: cover;
	color: #fff;
	padding: 60px 0;
	h1 {
		text-align: center;
		margin: 0 auto 40px;
	}
	h2 {
		text-align: center;
		color: #fff;
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		@include respond-to('small') {
			flex-direction: column;
		}
	}
	.technicalSkills {
		width: 66%;
		@include respond-to('small') {
			width: 100%;
		}
	}
	.designSkills {
		width: 33%;
		border-left: 1px solid #444;
		@include respond-to('small') {
			width: 100%;
			border-left: none;
		}
	}
	.skills {
		display: flex;
		justify-content: space-around;

		i {
			font-size: 4rem;
			transition: .3s all;
			margin: 20px;
			color: $primaryColor;
			text-align: center;
			width: 25%;
			@include respond-to('small') {
				margin: 15px 0;
			}
			&:nth-child(2n){
				color: $tertiaryColor;
			} 
			span {
				font-size: 1.4rem;
				font-family: $primaryFont;
				text-align: center;
				margin: 10px auto;
				display: block;
			}
		}
		&:nth-child(2n){
			i {
				color: $tertiaryColor;
				&:nth-child(2n){
					color: $primaryColor;
				}
			}
		}
	}
}
.blah {
	fill:white;
	min-width: 30px;
	max-width: 30px;
}