.sectionSkills {
	background-color: $quaternaryColor;
	background-image: url('../../images/bgPortfolio.jpg');
	background-size: cover;
	color: #fff;
	padding: 60px 0;
	h1 {
		text-align: center;
		margin: 0 auto 40px;
		color: #bbb;
		strong {
			color: #fff;
		}
	}
	h2 {
		text-align: center;
		color: #fff;
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		@include respond-to('medium') {
			flex-direction: column;
		}
	}
	.technicalSkills {
		width: 66%;
		color: lighten($primaryColor,5);
		@include respond-to('medium') {
			width: 100%;
		}
		.kentico {
			img {
				max-width: 45px;
			}
		}
		img {
			max-width: 30px;
			@include respond-to('small') {
				max-height: 31px;
			}
		}
		.textFirebase, .textKentico {
			font-size: 1.4rem;
			display: block;
			@include respond-to('small') {
				font-size: 1rem;
			}
		}
		.textFirebase {
			margin: 9px auto;
		}
		.textKentico {
			margin: 6px auto;
		}
	}
	.designSkills {
		width: 30%;
		padding-left: 4%;
		border-left: 1px solid rgba(255,255,255,.3);
		color: $tertiaryColor;
		@include respond-to('medium') {
			width: 100%;
			border-left: none;
			padding-left: 0;
			border-top: 1px solid rgba(255,255,255,.2);
			padding-top: 10px;
		}
		img {
			max-height: 38px;
		}
		span {
			font-size: 1.4rem; 
			display: block;
			margin: 10px auto;
			@include respond-to('small') {
				font-size: 1rem;
			}
		}
	}
	.skills {
		display: flex;
		justify-content: space-around;
		@include respond-to('large') {
			flex-wrap: wrap;
		}
		div {
			width: 50%;
			text-align: center;
			margin: 19px 0;
		}
		.skillsIndiv {
			width: calc(100% / 4);
		}
		i {
			font-size: 4rem;
			transition: .3s all;
			margin: 20px 0;
			text-align: center;
			@include respond-to('small') {
				margin: 15px 0;
			}
			span {
				font-size: 1.4rem;
				font-family: $primaryFont;
				text-align: center;
				margin: 10px auto;
				display: block;
				@include respond-to('small') {
					font-size: 1rem;
				}
			}
		}
	}
}
.blah {
	fill:white;
	min-width: 30px;
	max-width: 30px;
}