$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
$primaryColor: #0573c5;
$secondaryColor :#06b3f4;
$tertiaryColor: #61cbff;
$quaternaryColor: #141d22;
$quinaryColor: #19242a;	
$senaryColor: #779bac;

$primaryColorRgb: rgb(5,115,197);
$quaternaryColorRgb: rgb(20,29,34);